body {
  text-align: center;
  margin-top: 50px;
}

#output-container {
  display: none;
  padding-top: 20px;
  border: solid 1px black;
  margin: 20px;
}

#output, #output-reverse {
  padding: 5px;
}

#arr, #arr-reverse { 
  padding-left: 15px;;
}

#arr {
  color:red;
}

#arr-reverse {
  color: blue;
}

#try-again {
  color: green;
  font-style: italic;
  font-size: small;
}

button:hover {
  cursor: pointer;
}
